body {
 	background-color:#a7da65;
}
.head {
	text-align:center;
	color:#532dac;
	font-size: 30px;
	font-family: sans-serif;
	text-shadow: 0px 7px 7px;
}

#f16-use1 {
	width:500px;
	height:250px;
	border: 8px solid #823bac;
	border-radius: 40px;
	float:right;
	margin-top:5px;
}
#f16-use1txt {
	font-size:30px;
	margin-top:5px;
	margin-right:520px;
	text-align:center;
	color:#811826;
}

#f16-use2 {
	width: 600px;
	height:350px;
	border: 8px solid #823bac;
	border-radius: 40px;
	float: left;
	margin-top:5px;
}

#f16-use2txt {
	font-size:30px;
	margin-top:5px;
	margin-left:520px;
	text-align:center;
	color:#811826;
}

#table {
	margin-top:0px;
	margin-left: 670px;

	border: 5px solid #823bac;
	border-radius: 20px;
	background-color:#e0ffa3;
	width: 1200px;
	text-align: center;
	font-family: sans-serif;

}

#table-header {
	margin-top:0px;
	margin-bottom: 0px;
	font-size:35px;
	color:#532dac;
	font-family: sans-serif;
	text-shadow: 0px 5px 5px;

}



#table td {
	border: 3px solid #823bac;
	border-radius: 20px;
	padding: 12px 16px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
	color: #811826;
	vertical-align: middle;
	font-family: inherit;
}
