body {
 	background-color:#7a65da;
}
.head {
	text-align:center;
	color:#a7472f;
	font-size: 30px;
	font-family: sans-serif;
	text-shadow: 0px 7px 7px;
}

#f22-class1 {
	width:600px;
	height:400px;
	border: 8px solid #275a20;
	border-radius: 40px;
	float:right;
	margin-top:5px;
    margin-bottom: 5px;
}
#f22-class1txt {
	font-size:30px;
	margin-top:5px;
	margin-right:520px;
	text-align:center;
	color:#194411;
    font-weight: bold;
}

#f22-class2 {
	width: 500px;
	height:300px;
	border: 8px solid #275a20;
	border-radius: 40px;
	float: left;
	margin-top:5px;

}

#f22-class2txt {
	font-size:30px;
	margin-top:5px;
	margin-left:520px;
	text-align:center;
	color:#194411;
    font-weight: bold;
}

