body {
 	background-color:#a7da65;
}
.head {
	text-align:center;
	color:#532dac;
	font-size: 30px;
	font-family: sans-serif;
	text-shadow: 0px 7px 7px;
}

#f16-weapon1 {
	width:600;
	height:400;
	border: 8px solid #823bac;
	border-radius: 40px;
	float:right;
	margin-top:5px;
}
#f16-weapon1txt {
	font-size:30px;
	margin-top:5px;
	margin-right:520px;
	text-align:center;
	color:#811826;
}

#f16-weapon2 {
	width:500;
	height:300;
	border: 8px solid #823bac;
	border-radius: 40px;
	float: left;
	margin-top:5px;
}

#f16-weapon2txt {
	font-size:30px;
	margin-top:5px;
	margin-left:520px;
	text-align:center;
	color:#811826;
}

marquee {
	margin-top:20px;
	font-size:25px;
	color:#0A1C70;
	background-color: #8ec546;
}