body {
 	background-color:#ceda65;
}
.head {
	text-align:center;
	color:#4b8524;
	font-size: 30px;
	font-family: sans-serif;
	text-shadow: 0px 7px 7px;
}

#f18-use1 {
	width:600px;
	height:400px;
	border: 8px solid #266169;
	border-radius: 40px;
	float:right;
	margin-top:5px;
}
#f18-use1txt {
	font-size:30px;
	margin-top:5px;
	margin-right:520px;
	text-align:center;
	color:#381881;
}

#f18-use2 {
	width: 600px;
	height:350px;
	border: 8px solid #266169;
	border-radius: 40px;
	float: left;
	margin-top:5px;
}

#f18-use2txt {
	font-size:30px;
	margin-top:5px;
	margin-left:520px;
	text-align:center;
	color:#381881;
}

