body {
 	background-color:#a7da65;
}
.head {
	text-align:center;
	color:#532dac;
	font-size: 30px;
	font-family: sans-serif;
	text-shadow: 0px 7px 7px;
}

#f16-class1 {
	width:600px;
	height:350px;
	border: 8px solid #823bac;
	border-radius: 40px;
	float:right;
	margin-top:5px;
}
#f16-class1txt {
	font-size:30px;
	margin-top:5px;
	margin-right:520px;
	text-align:center;
	color:#811826;
}

#f16-class2 {
	width: 600px;
	height:370px;
	border: 8px solid #823bac;
	border-radius: 40px;
	float: left;
	margin-top:5px;
}

#f16-class2txt {
	font-size:30px;
	margin-top:5px;
	margin-left:520px;
	text-align:center;
	color:#811826;
}
