
body {
    background: #2c3e50;
    color: white;
    margin: 0;
    padding: 10px;
	text-align:center;
    cursor: pointer;
	font-size: 19px;
	font-weight: 500;
	font-family: 'Segoe UI', sans-serif;
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: bottom 0.5s ease-out, opacity 0.5s;

}


a {
	font-size: 19px;
	font-weight: 500;
	font-family: 'Segoe UI', sans-serif;
	display: block;
	color: white;
	text-decoration: none;
	padding: 63px 0;
	white-space: nowrap;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0s;	
}

a:hover { color: #1abc9c; }


.menu-header {
    padding: 15px 0;
    color: #1abc9c;
    font-weight: bold;
    border-bottom: 1px solid #34495e;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0s;

}

.header-special {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 75px 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid #34495e;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0s;
}



.submenu {
    max-height: 0;         
    overflow: hidden;
    background: rgba(0,0,0,0.1);
    transition: max-height 0.5s ease-in;
	
}

.submenu.open {
    max-height: 600px;
	transition: max-height 1.5s ease-out;
	

}

.submenu-text {
	padding: 15px;
}



@media (min-width: 50px) {
    a, .menu-header, .header-special {
        opacity: 1;
        transition: opacity 2s;
    }

	body {
		bottom:0;
		opacity:1;
	}
}


div.fixed .submenu {
    max-height: 500px !important;
    opacity: 1 !important;

}
