body {
 	background-color:#ceda65;
}
.head {
	text-align:center;
	color:#4b8524;
	font-size: 30px;
	font-family: sans-serif;
	text-shadow: 0px 7px 7px;
}

#f18-engine1 {
	width:600px;
	height:450px;
	border: 8px solid #266169;
	border-radius: 40px;
	float:right;
	margin-top:5px;
}
#f18-engine1txt {
	font-size:30px;
	margin-top:5px;
	margin-right:520px;
	text-align:center;
	color:#381881;
}

#f18-engine2 {
	width: 600px;
	height:300px;
	border: 8px solid #266169;
	border-radius: 40px;
	float: left;
	margin-top:5px;
}

#f18-engine2txt {
	font-size:30px;
	margin-top:5px;
	margin-left:520px;
	text-align:center;
	color:#381881;
}

#question {
    position:absolute;
    margin-left: 30%;
    margin-right: 30%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    font-size: 38px;
    color: #969494;
    font-weight: bold;
    background-color: #532dac;
    border: #811826 6px solid;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    &:hover {
        background-color: #811826;
        color: #ffffff;

    }
}
#question1 {
    width: 30%;
    height: 50px;
    position:absolute;
    margin-left: 30%;
    margin-right: 30%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    font-size: 38px;
    color: #969494;
    font-weight: bold;
    background-color: #532dac;
    border: #811826 6px solid;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s ease-in-out;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.question-fly {
    animation: flyAway 2s forwards;
    display: inline-block;
}

@keyframes flyAway {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    30% {
        transform: translateY(-30vh) rotate(-45deg);
        
        opacity: 1;
    }
    75% {
        transform: translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}