body {
 	background-color:#ceda65;
}
.head {
	text-align:center;
	color:#4b8524;
	font-size: 30px;
	font-family: sans-serif;
	text-shadow: 0px 7px 7px;
}

#f18-class1 {
	width:600px;
	height:450px;
	border: 8px solid #266169;
	border-radius: 40px;
	float:right;
	margin-top:5px;
}
#f18-class1txt {
	font-size:30px;
	margin-top:5px;
	margin-right:520px;
	text-align:center;
	color:#381881;
}

#f18-class2 {
	width: 600px;
	height:400px;
	border: 8px solid #266169;
	border-radius: 40px;
	float: left;
	margin-top:5px;
}

#f18-class2txt {
	font-size:30px;
	margin-top:5px;
	margin-left:520px;
	text-align:center;
	color:#381881;
}


#text1 {
    width: 40%;
    height: 130px;
    position:absolute;
    margin-left: 30%;
    margin-right: 30%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    font-size: 58px;
    color: #969494;
    font-weight: bold;
    background-color: #532dac;
    border: #811826 6px solid;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    &:hover {
        background-color: #811826;
        color: #ffffff;

    }
}

#text2 {
    width: 40%;
    height: 130px;
    position:absolute;
    margin-left: 30%;
    margin-right: 30%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    font-size: 28px;
    color: #969494;
    font-weight: bold;
    background-color: #532dac;
    border: #811826 6px solid;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    z-index: 0;
    transition: opacity 0.5s ease-in-out;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.fly {
    animation: flyanim 4s forwards;
    display: inline-block;
}
.fly1 {
    animation: flyanim1 4s forwards;
    display: inline-block;
}
@keyframes flyanim {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    10% {
        transform: translateY(-10vh);
        opacity: 0.9;
    }
    35% {
        transform: translateY(-10vh) rotate(1440deg);
        opacity: 0;
        scale: 0.5;
    }
    75% {
        transform: translateY(0vh) rotate(1440deg);
        opacity: 0;
        scale: 1;
    }
    100% {
        transform: translateY(0vh) rotate(1440deg);
        opacity: 0;
    }
}
@keyframes flyanim1 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        transform: translateY(-10vh);
        opacity: 0;
    }
    35% {
        transform: translateY(-10vh) rotate(1440deg);
        opacity: 1;
        scale: 0.5;
    }
    75% {
        transform: translateY(0vh) rotate(1440deg);
        opacity: 1;
        scale: 1;
    }
    100% {
        transform: translateY(0vh) rotate(1440deg);
        opacity: 1;
    }
}