body {
 	background-color:#B687FA;
}
.head {
	text-align:center;
	color:#3784F1;
	font-size: 30px;
	font-family: sans-serif;
	text-shadow: 0px 7px 7px;
}

#f14-engine1 {
	width:500;
	height:300;
	float:left;
	margin-top:5px;
	border: 4px solid #f2f5f5;
	border-radius: 20px; 
}


#f14-engine1txt {
	font-size:30px;
	margin-top:5px;
	margin-left:520px;
	text-align:center;
	color:#0A1C70;
}

#f14-engine2 {
	width:500;
	height:300;
	border: 4px solid #f2f5f5;
	border-radius: 20px;
	float:right;
	margin-top:5px;
}

#f14-engine2txt {
	font-size:30px;
	margin-top:5px;
	margin-right:520px;
	text-align:center;
	color:#0A1C70;
}