body{
    background: url('../media/ukr-back.svg') repeat center;
    height:170vh;
}
.plt-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
            width: 25%;
            height:6%;
            margin-left: 37%;
        padding: 5px;
        font-family: sans-serif;
        font-size: 100px;
        font-weight: bold;
        color:#3a19b3;
        background: #b0b317;
}
.cont1  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
h2 {
    padding: 7px;
    margin-left: 2%;
    margin-right: 2%;
    color: #0f8820 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: lighter;
    background: #e7e434;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
}
#plt-photo-1{
    width: 650px;
    height:600px;
    border: 4px solid #1a2794;
    border-radius: 150px;
}

#plt-photo-2{
    width: 600px;
    height:700px;
    border: 4px solid #1a2794;
    border-radius: 150px;
}
.lic{
    display:flex;
    align-items: start;
    justify-content: start;
    
}
h3{
    padding: 7px;
    margin-left: 2%;
    margin-right: 2%;
    color: #fa1ddc ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: lighter;
    background: #18b11f;
    text-align: left;
    text-transform: lowercase;
    border-radius: 30px;
}
h3:hover{
    color: #1a2794 ;
}
a {
    letter-spacing: 2px;
    color: #fa1ddc ;
}
a:hover{
    color: #1a2794 ;
    text-transform: uppercase;
}

a:active {
    color:#fa1ddc;
    text-decoration: none;
}

