body{
    background: url('../media/tvor-back.jpg') repeat center fixed;
    height:100vh;
}
.tvor-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
            width: 25%;
            height:10%;
            margin-left: 37%;
        padding: 15px;
        font-family: sans-serif;
        font-size: 120px;
        font-weight: bold;
        color:#3a19b3;
        background: #b0b317;
}
.cont1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ph1{
    width:550px;
    height:600px;
    border-radius: 40px;
    border: 4px solid #1a2794;
}
h1 {
    text-align: right;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 40px;
        padding: 15px;
        text-transform: capitalize;
        font-family: sans-serif;
        font-size: 50px;
        font-weight: bold;
        color:#b33819;
        background: #e28a74;      
}
h1:hover{
    cursor: pointer;
    border: 5px solid #1a2794;
}
#p1{
    transition: transform 0.5s ease-in-out;
    position: relative;
    
}
#p2{
    margin-left: 30%;
    text-align: center;
    width: 30%;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}
#p1-1{
    transition: transform 0.5s ease-in-out;
    position: relative;
    
}
#p2-2{
    margin-left: 0%;
    text-align: center;
    width: 30%;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}
.p1-fly{
    animation: p1Fly 0.5s ease-in-out forwards;
}
@keyframes p1Fly {
    0%{
        transform: translateY(0vh) rotate(0deg);
        
    }
    100%{
        transform: translateY(-30vh) rotate(-30deg);

    }
}

.ukr{
    display:flex;
    align-items: center ;
    justify-content: center;
    
}
h2 {
    padding: 7px;
    margin-left: 2%;
    margin-right: 2%;
    color: #0f8820 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: lighter;
    background: #e7e434;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
}
h2:hover{
    color: #1a2794 ;
}
a {
    letter-spacing: 2px;
    color: #0f8820 ;
}
a:hover{
    color: #1a2794 ;
}
a:active {
    color:#fa1ddc;
    text-decoration: none;
}


li{
    margin-left: 3%;
}
.spisok{
    color: rgb(180, 167, 167);
    background:#1a2794;
    padding:5px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    border-radius: 80px;
    box-shadow: 5px -5px 10px #000000;
}
#spis1{
    color:#fa1ddc;
    font-size: 60px;
    font-style: italic;
}