body{
    background: url('../media/ukr-back.svg') repeat center fixed;
    height:170vh;
}
.ukr-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
            width: 25%;
            height:7%;
            margin-left: 37%;
        padding: 5px;
        font-family: sans-serif;
        font-size: 120px;
        font-weight: bold;
        color:#3a19b3;
        background: #b0b317;
}
.cont1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ukr-photo-1{
    width: 450px;
    height:600px;
    border: 4px solid #1a2794;
    border-radius: 150px;
}
h1 {
    text-align: right;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 40px;
        padding: 5px;
        text-transform: capitalize;
        font-family: sans-serif;
        font-size: 50px;
        font-weight: bold;
        color:#b33819;
        background: #e28a74;      
}
#ukr-photo-2{
    width: 650px;
    height:600px;
    border: 4px solid #1a2794;
    border-radius: 150px;
}
.plt{
    display:flex;
    align-items: end;
    justify-content: end;
    
}
h2 {
    padding: 7px;
    color: #0f8820 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: lighter;
        width:10%;
        padding: 15px;
    background: #e7e434;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
}
h2:hover{
    color: #1a2794 ;
}
a {
    letter-spacing: 1px;
    color: #0f8820 ;
}
a:hover{
    color: #1a2794 ;
}
a:visited{
    color: #0cff2d ;
}
a:active {
    color:#fa1ddc;
    text-decoration: none;
}

